header.main-header
    a.logo(href="/") AnnSerba
    nav.navbar.navbar-static-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-collapse")
                    i.fa.fa-bars
            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-left
                    li
                        a(href="#Skills") Skills
                    li
                        a(href="#Portfolio") Portfolio
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="https://github.com/AnnSerba")
                            i.fa.fa-github  link to GitHub

