
h1.text-center Portfolio
.row
    .col-xs-12.col-sm-6.col-md-3
        .box.box-warning
            .box-header.text-center
                h3.box-title For Yandex
                span  courses tacks
                p less, Jade
            .box-body
                img(src="dest/img/yandex.png").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-warning.margin(href="./dest/pages/forYandex.html")
                    i.fa.fa-html5  web page
                a.btn.btn-github.margin(href="https://github.com/AnnSerba/annserba.github.io")
                    i.fa.fa-github  GitHub
    .col-xs-12.col-sm-6.col-md-3
        .box.box-info
            .box-header.text-center
                h3.box-title For Russia cloud
                span
                p less, Jade
            .box-body
                img(src="https://hh.ru/employer-logo/1705895.png" style="padding:45px 0").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-warning.margin(href="./dest/pages/forRussiaCloud.html")
                    i.fa.fa-html5  web page
                a.btn.btn-github.margin(href="https://github.com/AnnSerba/annserba.github.io")
                    i.fa.fa-github  GitHub
    .col-xs-12.col-sm-6.col-md-3
        .box.box-danger
            .box-header.text-center
                h3.box-title KnowledgePortal
                span  Course in AlvionEurope
                p AngularJS, Bootstrap, less, mpm, Gulp, Bower
            .box-body
                img(src="dest/img/AlvionEurope.jpg").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-github.margin(href="https://github.com/WEB-UI-1/KnowledgePortal")
                    i.fa.fa-github  GitHub
    .col-xs-12.col-sm-6.col-md-3
        .box.box-success
            .box-header.text-center
                h3.box-title TransportFare
                span  Diploma
                p UWP Windows 10
            .box-body
                img(src="dest/img/TransportFare.png").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-github.margin(href="https://github.com/AnnSerba/TransportFare")
                    i.fa.fa-github  GitHub
    .col-xs-12.col-sm-6.col-md-3.col-md-offset-2
        .box.box-success
            .box-header.text-center
                h3.box-title Applicant
                span  Coursework project
                p .Net, Visual Studio, C#, MVC5
            .box-body
                img(src="dest/img/applicant.png").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-github.margin(href="https://github.com/AnnSerba/Applicant")
                    i.fa.fa-github  GitHub
    .col-xs-12.col-sm-6.col-md-3.col-md-offset-2
        .box.box-info
            .box-header.text-center
                h3.box-title Spline
                span  Coursework project
                p  Visual Studio, C#, WindowsForms
            .box-body
                img(src="dest/img/Spline.png").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-github.margin(href="https://github.com/AnnSerba/RandomAndSpline")
                    i.fa.fa-github  GitHub