
h1.text-center Portfolio
.row
    .col-xs-12.col-sm-6.col-md-3
        .box.solid.box-warning
            .box-header
                h3.box-title For Yandex
                span  courses tacks
            .box-body
                img(src="dest/img/yandex.png").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-warning.margin(href="./dest/pages/forYandex.html")
                    i.fa.fa-html5  web page
                a.btn.btn-github.margin(href="https://github.com/AnnSerba/annserba.github.io")
                    i.fa.fa-github  GitHub
    .col-xs-12.col-sm-6.col-md-3
        .box.solid.box-danger
            .box-header.text-center
                h3.box-title KnowledgePortal
                span  Course in AlvionEurope
            .box-body
                img(src="dest/img/AlvionEurope.jpg").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-github.margin(href="https://github.com/WEB-UI-1/KnowledgePortal")
                    i.fa.fa-github  GitHub
    .col-xs-12.col-sm-6.col-md-3
        .box.solid.box-success
            .box-header.text-center
                h3.box-title TransportFare
                span  Diploma
            .box-body
                img(src="dest/img/TransportFare.png").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-github.margin(href="https://github.com/AnnSerba/TransportFare")
                    i.fa.fa-github  GitHub
    .col-xs-12.col-sm-6.col-md-3
        .box.solid.box-info
            .box-header.text-center
                h3.box-title Applicant
                span  Coursework project
            .box-body
                img(src="dest/img/applicant.png").img-responsive.center-block.img-portfolio
            .box-footer.text-center
                a.btn.btn-github.margin(href="https://github.com/AnnSerba/Applicant")
                    i.fa.fa-github  GitHub
