html
    head
        title AnnSerba
        link(rel="stylesheet" href='../css/forYandexTask1.css')
        link(rel="stylesheet" href='../css/bootstrap.min.css')
        link(rel="stylesheet" href='../css/AdminLTE.min.css')
        link(rel="stylesheet" href='../css/skin-yellow-light.min.css')
    body.container
        include forYandex/forYandexTask1

